nav-item:hover {
  transform: translateY(-10px);
}
.nav-link {
  color: inherit;
  text-decoration: none;
  padding: 10px 15px;
  transition: font-size 0.2s, color 0.2s, border-bottom 0.2s;
  border-bottom: 1px solid transparent;
}

.nav-link:hover {
  font-size: 18px;
  color: #ffa500;
  border-bottom: 1px solid #fff6e0;
}
